@charset "utf-8";
.wrapper {
    margin: auto;
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.center {
    margin: auto;
    width: 85%;
    align: center;
    position: relative;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #7AF8CA;
    color: #040201;
    text-align: center;
    width: 100%;
    margin: 2em 0 0 0;
}
body {
    background-color: #040201;
    /*width: 40em;*/
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: Georgia;
}
#particles-js {
    height: 99%;
    pointer-events: none;
}
main {
    color: #FFFFFF;
}
header {
    margin: 0px;
}
nav {
    font-family: Hack;
    color: #FFFFFF;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
}
form {
    
}
ul {
    width: 85%;
    margin:0 auto;
    text-align: left;
}
a:link {
    color: #7AF8CA;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #7AF8CA;
}
a:hover {
    text-decoration: none;
    color: #F8CF80;
}
a:active {
    text-decoration: none;
    color: #D3F44D;
}